<ac:layout>
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <table>
        <thead>
          <tr>
            <th>
              <h1>Initiativ: {{ initiatives }}</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul>
                {{#each tree}}
                <li>{{{ jiraIssueMacro @key }}}</li>
                <ul>
                  {{#each this}}
                  {{#each this}}
                  <li>{{{ jiraIssueMacro @key }}}</li>
                  <ul>
                    {{#each this}}
                    <li>{{{ jiraIssueMacro this}}}</li>
                    {{/each}}
                  </ul>
                  {{/each}}
                  {{/each}}
                </ul>
                {{/each}}
              </ul>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </ac:layout-cell>
    <ac:layout-cell>
      {{{ noteMacro "Generated" "This page was generated. Any manual edits will be lost." }}}
      <table>
        <tr>
          <th>The following statuses has been omitted</th>
          <td>{{{ excludeStatus}}}</td>
        </tr>
      </table>
      {{{ jiraChartMacro charJql }}}
    </ac:layout-cell>
  </ac:layout-section>
</ac:layout>