{{{ noteMacro "Generated" "This page as generated. Any manual edits will be lost." }}}
<table>
  <thead>
    <tr>
      <th colspan="2">
        <h1>Initiativ: {{ initiatives }}</h1>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          {{#each tree}}
          <li>{{{ jiraIssueMacro @key }}}</li>
          <ul>
            {{#each this}}
            {{#each this}}
            <li>{{{ jiraIssueMacro @key }}}</li>
            <ul>
              {{#each this}}
              <li>{{{ jiraIssueMacro this}}}</li>
              {{/each}}
            </ul>
            {{/each}}
            {{/each}}
          </ul>
          {{/each}}
        </ul>
      </td>
      <td>
        {{{ jiraChartMacro charJql }}}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">The following statuses has been omitted: {{{ excludeStatus}}}</th>
    </tr>
  </tfoot>
</table>