{{{ noteMacro "Generated" "This page as generated. Any manual edits will be lost." }}}
<h1>{{ initiatives }}</h1>
<ul>
{{#each tree}}

  <li>{{{ jiraIssueMacro @key }}}</li>
  <ul>
  {{#each this}}
    {{#each this}}
    <li>{{{ jiraIssueMacro @key }}}</li>
    <ul>
    {{#each this}}
    <li>{{{ jiraIssueMacro this}}}</li>
    {{/each}}
    </ul>
    {{/each}}
  {{/each}}
  </ul>
{{/each}}
</ul>